<!DOCTYPE html>
<html lang='en'>
<head>
    <title>Document</title>
</head>
<body>
    <form action="/student/lijstalf" method="post">
        <input type="text" placeholder="naam" name="naam">
        <button type="submit">lijst</button>
    </form>    
</body>
</html>